
* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;

  background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password],input[type=date],input[type=email],input[type=time],input[type=password],input[type=file] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 7px;
}
select{
  width: 100%;
  padding: 8px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 7px;
}

input[type=text]:focus, input[type=password]:focus,input[type=date]:focus,input[type=email]:focus{
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 2px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn,.addbtn,.updatebtn,.loginbtn {
  background-color: black;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width:100%;
  opacity: 0.9;
  border-radius: 10px;
}
.forgetbtn{
  color: black;
  align-items: center;
}
.logresbtn:hover{
  color: white;
}
.logresbtn{
  background-color: green;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width:100%;
  opacity: 0.9;
  border-radius: 10px;
  text-decoration: none;
}


.registerbtn:hover {
  opacity: 1;
}
.addbtn:hover{
  opacity: 1;
}
.updatebtn:hover{
  opacity: 1;
}
.loginbtn:hover{
  opacity: 1;
}
.forgetbtn:hover{
  opacity: 1;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
.login{
  margin-top: 120px;
  font-weight: 1000;
  font-size: 50px;
}
.text{
  font-size: 20px;
  margin-top:-55px;
}
.loginlogo{
    margin-top: 120px;
    width: 35px;
    height: 35px;
    animation: mymove 20000000s infinite;
  }
  
  @keyframes mymove {
    100% {transform: rotate(10000000000deg);}
  }

  .logo_image{
    position:relative;
    top: -60px;
  }
.stars{
  display: flex;
  flex-direction:row ;
  margin-top: 50px;
}
.feedbtn{
  background-color:#000000!important;
  color: #FFFF!important;
  border: 1px solid #a9a9a9;
  border-radius: 5;
  width: 85;
  padding: 10;
}
.feedtextarea{
  border: 1px solid #a9a9a9;
  border-radius: 5px !important;
  padding: 10px!important;
  margin: 20px 0;
  min-height : 100px!important;
  width: 300px!important;
}
.contain{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timebtn{
  background-color:#a9a9a9!important;
  color: #FFFF!important;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  width: 100px;
  padding: 10;
  font-size: large;
}
.timebtntec{
  background-color:#a9a9a9!important;
  color: rgb(48, 48, 32) !important;
  border: 1px solid #8f8c8c;
  border-radius: 5px;
  width: 100px;
  padding: 10;
  font-size: large;
}
.timebtn:hover {
  color: rgb(48, 48, 32) !important; 
}
.timebtntec:hover {
  color: #FFFF !important; 
}
.fullres{
  border: 2px solid black;
  padding:20px;
}
.resultprofile{
  margin-left: 190%;
  height: 120px;
  width: 150px;
  border-radius: 30%;
  border-color: #a00404;
  
}
.print{
  margin-left: 215%;
  border-radius: 10px;
  margin-top:5px;
  
}
.resultdata{
  margin-left: 2%;
}
.pro{
  margin-top: -2px !important;
}